/* 1- Import Root */
@import url('./../css/ComponentPages/roots.css');
/* 2- Import Navbar Section */
@import url('./../css/ComponentPages/HeaderAndFooter/navbar.css');
/* 3- Import Footer Section */
@import url('./../css/ComponentPages/HeaderAndFooter/footer.css');


/* Start Home Section -- Header */
header {
    background-image: var(--section-image3);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
/* Start Carousel for sections */
header .carousel{
    top:60%;
}
/* layer */
header .layer{
    background-color: var(--layer-color);
}
/* aside */
header .layer .iconhome aside{
    width:40px;
    height:50px;
    background-color: var(--main-color) !important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
header .layer .iconhome aside a i{
    --fa-animation-duration: 10s;
    /* color: var(--hover-color-warm); */
}
header .layer .iconhome .backHome{
    width: 30px;
    height: 50px;
    left: 50%;
    bottom:1rem;
    border: 1px solid var(--container-color);
    transform: translateX(-50%) !important;
    transition:all 0.5s;
}
header .layer .iconhome a:hover .backHome{
    border-color: var(--hover-color-warm);
}
header .layer .iconhome .backHome .point{
    width: 10px;
    height: 10px;
    background-color: var(--container-color);
    transform: translate(-50% -50%)
}
header .layer .iconhome .ProIcon{
    --fa-bounce-start-scale-x: 1;
    --fa-bounce-start-scale-y: 1;
    --fa-bounce-jump-scale-x: 1;
    --fa-bounce-jump-scale-y: .8;
    --fa-bounce-land-scale-x: 1;
    --fa-bounce-land-scale-y: 1;
    --fa-bounce-rebound: 0;
}
header .layer .iconhome .upIcon{
    width:40px;
    height:40px;
    background-color: var(--main-color) !important;
    bottom: 2rem;
    right:2rem;
}
header .layer .iconhome .upIcon a{
    color: var(--container-color);
}
/* End Home Section ------------------------------------*/

/* Start KPIs Section */
.kpi .backlayer{
    background-image: var(--section-minimage1);
    background-position: 100% 100%;
    background-size: cover;
    background-attachment: fixed;
}
.kpi .layer{
    background-color: var(--layer-color-min-section2);
}
.kpi .backlayer .layer .kpiContent h4{
    transition: all 1s;
}
.kpi .backlayer .layer .kpiContent h4::after{
    content:"";
    width:100px;
    height:2px;
    background-color: var(--hover-color-warm);
    position: absolute;
    left: 100px;
    bottom: -0.5rem;
    transition: all 0.5s;
}
.kpi .backlayer .layer .kpiContent:hover h4::after{
    left: 0;
    width:400px;
}
.kpi .backlayer .layer .kpiContent:hover h4{
    font-weight: 700;
}
/* justify resizing the item */
.kpi .backlayer .layer .kpiContent .col-xs-6{
    max-width: 45%;
}
.kpi .backlayer .layer .kpiContent .item .score{
    width: 100px;
    height: 100px;
    border: 10px solid var(--main-color);
    transition: all 0.5s;
}
.kpi .backlayer .layer .kpiContent .item:hover .score{
    border-color: var(--hover-color-muted);
}
.kpi .backlayer .layer .kpiContent .item .score h6{
    transition: all 0.5s;
}
.kpi .backlayer .layer .kpiContent .item:hover h6{
    font-weight: 700;
}
.kpi .backlayer .layer .kpiContent .item .score h5{
    font-weight: 700;
    /* transition: all 0.5s; */
    transform: translate(-50% -50%)
}
/* End KPIs Section ------------------------------------*/
